*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: "Oswald", sans-serif;
/*   background-color: rgb(65, 63, 63);  ficou bonita*/
  background-color: rgb(224, 223, 223);
 /*  background-color: rgb(13, 9, 78); */
 /*  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* background-color: rgb(37, 141, 141); */
}