.main {
  /*   border: 1px solid red ; */
  padding: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 20px auto auto auto;
  width: 90%;
  /* width: 100%;
    height: 100vh;
    background-color: rgb(37, 141, 141); */
}

.h1 {
  margin: 20px auto 20px auto;
  text-align: center;
  background-color: rgb(5, 5, 105);
  color: white;
  border-radius: 20px;
  padding: 10px;
  width: 40%;
  text-transform: uppercase;
}

.teste {
  padding: 10px;
  width: 100%;
  height: 100vh;
  background-color: rgb(37, 141, 141);
}

.sobreNos {
  background-color: #09456c;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  box-shadow: 0px 0px 8px black;
  padding: 10px;
}

.h2Title{
  padding: 5px;
  background-color: rgb(23, 23, 129);
  color: white;
  text-align: center;
  border-radius: 20px;
  font-size: 1.4em;
  box-shadow: 0px 0px 5px black;
  text-transform: uppercase;
}

.h3 {
  text-align: center;
  padding: 10px;
  color: white;
  font-size: 2.5em;
  margin-bottom: 10px;
}

.gif {
  border-radius: 20px;
  height: 300px;
  width: 300px;
  margin: 0 20px 10px 20px;
}

.paragrafoSobreNos {
  text-align: justify;
  color: white;
  font-size: 1.32em;
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.containerTextos{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 10px;
}

.containerImageParagrafo {
 /*  border: 1px solid red; */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  width: 80%;
}

/* IFRAME SOBRE A UESC  */
.uesc {
  background-color: rgb(46, 44, 44);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 0px 8px black;
  padding: 10px;
}
