/* CSS */
.tableHeader {
    background-color: rgb(14, 45, 218);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
}

.tableRow:nth-child(odd) {
    background-color: #f2f2f2;
    /* Cor para linhas ímpares */
    font-family: "Oswald", sans-serif;
}

.tableRow:nth-child(even) {
    background-color: #e0e0e0;
    /* Cor para linhas pares */
    font-family: "Oswald", sans-serif;
}

.tableRow:hover {
    background-color: #cccccc;
    /* Cor quando o mouse passa por cima */
}

.containerAcoes{
    /* border: 1px solid red; */
    font-size: 1.2em;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
}

.iconAcoes{
    margin-right: 10px;
}

.iconsAcoesGeral{
    cursor: pointer;
    transition: transform 0.1s;
}

.iconsAcoesGeral:hover{
    cursor: pointer;
    transform: scale(1.2);
}

.iconsEye{
   color: rgb(31, 31, 252);
}

.iconsPen{
    color: rgb(37, 189, 37);
}

.iconsTrash{
    color: red;
}

.pCargaHoraria{
    font-weight: bold;
    color: rgb(8, 68, 117);
    
}

.divCargaHoraria{
    padding: 5px;
}

.spanCargaHoraria{
    color: red;
}