.pInfo{
    border-bottom: 1px solid rgb(8, 68, 117);
    padding: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: "Oswald", sans-serif;
    margin: 5px auto 5px auto;
}

.span{
    font-weight: 400;
    font-style: italic;
}

.containerInfoProfessor{
 /*    border: 1px solid blue; */
    padding: 10px;
    /* width: 90%; */
    margin: 0 auto;
}

.infoGerais{
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(8, 68, 117);
    color: white;
    padding: 5px;
    border-radius: 10px;
    
}

.h2Diciplina{
    margin: 20px auto 10px auto;
}

.infoSemDisciplina{
    text-align: center;
}

.selectInProfessores{
    font-size: 1em;
    padding: 10px;
    border: 1px solid #007BFF;
    border-radius: 4px;
    width: 40%;
    -webkit-appearance: none;
    cursor: pointer;
    font-weight: 500;
    /* background-color: #09456c;
    color: white; */
    /* Remove o estilo padrão do select em alguns navegadores */
    -moz-appearance: none;
    /* Remove o estilo padrão do select em alguns navegadores */
    appearance: none;
    /* Remove o estilo padrão do select em alguns navegadores */
}

.divSelectSemestre{
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
