    <footer>

        <div class="container-resume-sociais">
            <div class="container-resume">
                <img src="/img/logo_gif.gif" alt="Logo Gif" class="icon-footer-resume">
                <p class="p-footer">Sistema de Alocação de Disciplinas</p>
            </div>

            <div class="container-socias">
                <a href="https://github.com/AlessanBass" target="_blank"><i class="fa-brands fa-github icon-footer"></i></a>
                <a href="https://www.linkedin.com/in/alessandro-concei%C3%A7%C3%A3o-santos-184768243/" target="_blank"><i class="fa-brands fa-linkedin icon-footer"></i></a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram icon-footer"></i></a>
            </div>
        </div>

         <hr>
         <span class="span-footer">Desenvolvido por: Alessandro Conceição Santos</span>
    </footer>
    
    
    
    <script src="/js/change_title.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/screen_tracker.js"></script>
</body>

</html>