    <footer>
        algo aqui 

    </footer>
    
    
    
    <script src="/js/change_title.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/header.js"></script>
    <script src="/js/screen_tracker.js"></script>
</body>

</html>