<main>
    <form action="/uploadExel" method="post" enctype="multipart/form-data">
        <label for="excel_file" class="label-form">Faça upload</label>
        <input type="file" id="excel_file" name="file" accept=".xls,.xlsx" class="custom-file-input">
        <p class="p-form">Ou arraste um arquivo até aqui.</p>
        <button type="submit" class="button-form">Enviar</button>
    </form>

</main>
