<%- include('partials/header.ejs') %>

    <main class="main-sobre-nos">
        <div>
            <img src="/img/logo_gif.gif" alt="Logo Gif" class="gif-sobrenos">
        </div>
        <div class="container-texto-sobrenos">
            <h2 class="h2-sobrenos">Aloca + Match: Sistema de Alocação de Disciplinas</h2>

            <p class="p-sobrenos">Aloca + Match é a solução inovadora projetada para simplificar e 
                otimizar o processo de alocação de disciplinas na UESC. Desenvolvido 
                para atender às demandas específicas do ambiente acadêmico, nosso 
                sistema elimina a complexidade e o potencial de erro associados à 
                alocação manual de disciplinas para professores.
            </p>

            <p class="p-sobrenos">
                Com Aloca + Match, o trabalho árduo e propenso a erros é coisa do 
                passado. Através de uma abordagem automatizada e eficiente, basta 
                realizar o upload de um arquivo Excel e deixar que nossa tecnologia 
                inteligente assuma o controle. Nossa plataforma inteligente aloca 
                disciplinas de forma rápida, precisa e equilibrada, considerando 
                diversos fatores como disponibilidade de professores, carga horária e 
                preferências individuais.
            </p>

            <p class="p-sobrenos">
                Não apenas simplificamos o processo, mas também aumentamos a eficiência, 
                permitindo que os gestores acadêmicos foquem em atividades mais estratégicas. 
                Com Aloca + Match, garantimos que cada professor seja alocado nas disciplinas 
                mais adequadas, promovendo um ambiente acadêmico mais organizado e produtivo.
            </p>
        </div>

    </main>

    <%- include('partials/footer.ejs') %>
    <script>changePageTitle("Sobre nós")</script>